.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 117px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);

  .header-content {
    display: flex;
    flex-direction: row;

    &__picture {
      height: 70px;
      width: 88px;
      margin: 22px 0 25px 44px;
      border-radius: 0px;
    }

    &__title {
      margin-left: 96px;
      height: 55px;
      width: 560px;
        font-size: 36px;
      font-weight: 300;
      line-height: 42px;
      text-align: left;
    }
  }

  .header-children {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    
    .children-content {
      padding: 30px;
    }
  }

}