.tableAppointment {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 25px 40px 0 0;
  margin: auto;
  margin-top: 24px;

  .tableAppointmentHeader {
    background-color: #C4C4C4;

    .tableAppointmentHeaderRow {
      border: 1px solid #C4C4C4;
      border-bottom: 1px solid black;
      height: 60px;

      th {
        width: 400px;
      }
    }

  }

  &__element {
    width: 400px;
    //padding: 25px 0 15px 0;
    border-collapse: separate;
    font-size: 18px;
    font-weight: 300;
    background-color: burlywood;
    border-right: 2px solid black;
  }
}